@font-face {
    font-family: 'amatic';
    src: url('../fonts/amaticsc-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'anderson';
    src: url('../fonts/anderson.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'riogrande';
    src: url('../fonts/riogrande.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

* {
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100%;
    font-size: 10px;
}

.wrapper {
    margin: auto;
    height: 100%;
    max-width: 1200px;
    background-image: url(../img/gaming-pattern.png);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    box-shadow: 0px 3px 14px -3px black;
}

h1 {
    font-family: 'riogrande';
    font-size: 8rem;
    text-transform: uppercase;
    text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
    text-align: center;
    cursor: default;    
}

h2 {
    font-family: 'riogrande';
    font-size: 6rem;
    cursor: default;
}

h3 {
    font-size: 4rem;
}

.game-logo {
    position: relative;
    border: 4px solid rgba(0, 0, 0, .5);
    border-radius: 10%;
    padding: 5px;
    margin: 25px;
    background-color: rgba(0,0,0, 0.2);
    transition: all .5s;
}

.game-logo:hover {
    background-color: rgba(0,0,0, 0.6);
    margin: 45px;
}

.play-btn {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.game-logo:hover .play-btn{
    display: flex;
}

.game-description, .game-controls, .screenshots, .about {
    padding: 40px;    
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 3px 14px -3px black;    
}

.game-description p, .buttons {
    font-family: 'anderson', serif;
    font-size: 3rem;
    max-width: 800px;
    padding: 20px;
}

.game-description span {
    text-transform: uppercase;
    color: #984242;
}

.game-controls .buttons {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.screenshots, .about {
    font-family: 'anderson', serif;
    font-size: 3rem;
}

.screenshots p {
    margin: 20px;
}

.screenshots .container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container .img-min {
    margin: 10px;
}

.overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
    background-color: rgba(0, 0, 0, 0.65);
    position: fixed;
    cursor: default;
}

.overlay:target {
    display: block;
}

.popup {
    top: -100%;
    right: 0;
    left: 50%;
    font-size: 14px;
    z-index: 20;
    margin: 0;
    width: 85%;
    min-width: 320px;
    max-width: 600px;
    position: fixed;
    padding: 15px;
    border: 1px solid #383838;
    background: #000;
    border-radius: 4px;
    font: 3rem 'anderson', serif;
    box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    transform: translate(-50%, -500%);
    transition: transform 0.6s ease-out;
    transition: transform 0.6s ease-out;
    color: wheat;
    text-align: center;
}

.overlay:target+.popup {
    transform: translate(-50%, 0);
    top: 15%;
}

.close {
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    position: absolute;
    padding: 0;
    border: 2px solid #ccc;
    border-radius: 15px;
    background-color: rgba(61, 61, 61, 0.8);
    box-shadow: 0px 0px 10px #000;
    text-align: center;
    text-decoration: none;
    font: 13px/20px 'Tahoma', Arial, sans-serif;
    font-weight: bold;
    transition: all ease .8s;
}
.close:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
    font-size: 12px;
}
.close:hover {
    background-color: rgba(252, 20, 0, 0.8);
    transform: rotate(360deg);    
}

.popup img {
    width: 100%;
    height: auto;
}

.popup p {margin: 0; padding: 5px 0}

.about p {
    padding: 30px;
    max-width: 800px;
}

footer .container {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    align-items: center;
    box-shadow: 0px 3px 14px -3px black;
}

footer p {
    font-family: 'amatic', sans-serif;
    font-size: 2.5rem;
    text-align: center;
    padding: 10px;
}

.author {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'amatic', sans-serif;
    margin-right: 70px;
}

.social a {
    margin: 15px;
    text-decoration-line: none;
    color: #000;
    transition: all .5s;
}

.social a:hover {
    color: palegoldenrod;
}
